extends ../../../components/base-news
include ../../../components/header-news
include ../../../components/footer

block title
  title Перечинський лісохімкомбінат – 12-03-2020

block header
  +header('ua')

block content
  h3.text-center Виконання заходів щодо запобігання поширенню коронавірусу COVID-19
  img.d-block.mb-1.mx-auto.w-75(
    src="../../static/img/covid-1.jpg",
    alt="COVID-1"
  )
  h5 Виконання заходів щодо запобігання поширенню коронавірусу COVID-19
  p Згідно Постанови Кабінету Міністрів України №211 від 11.03.2020 року "Про запобігання поширенню на території України коронавірусу COVID-19" на нашому підприємстві розроблені та виконуються профілактичні заходи щодо запобігання поширенню коронавірусу COVID-19, які затверджені також і Наказом ТДВ "Перечинський ЛХК" №34 від 12.03.2020 року.
  p Щоденно вимірюється температура тіла працівників комбінату за допомогою термометрів безконтактного вимірювання температури тіла ( двічі на день: до початку та після завершення робочого дня). Обмежене відвідування комбінату третіми особами (підрядниками, контрагентами, водіями та ін.) без поважної на те причини та особистого дозволу Генерального директора ТДВ "Перечинський ЛХК".
  p Використовуються антисептичні засоби та виконуються інші заходи безпеки, згідно рекомендацій Міністерства Охорони Здоров'я України: правильне миття рук, зберігання дистанції, 1,5м. в спілкуванні з іншими людьми. Керівниками підрозділів проведені інструктажі з підлеглими працівниками щодо виконання рекомендацій Міністерства Охорони Здоров'я України.
  p Обмежені наради працівників, використовується селекторний зв'язок. В разі виявлення в працівника комбінату підвищеної температури тіла/ознак грипу, ГРВІ або інших респіраторних захворювань, безпосередній керівник увільняє даного працівника від виконання робочих обов'язків, рекомендує йому самоізолюватися вдома та викликати додому чергового лікаря.
  p Постійно роз'яснюються обов'язки водіям транспортних засобів та стороннім особам на підприємстві щодо дотримання правил та рекомендацій Міністерства Охорони Здоров'я України, також вручається "Пам'ятка щодо дій водіїв та сторонніх осіб, які знаходяться на території підприємства під час карантину".
  p Застосовуються захисні маски працівниками та особами, що знаходяться на території підприємства та водіїв. Дезінфікуються приміщення, транспортні засоби для загрузки продукції, сама продукція, пасажирські транспортні засоби, які перевозять працівників.
  p Працівники в автобусах знаходяться в захисних масках. Проведення роз'яснювальних інформативних робіт щодо заходів безпеки та запобігання поширенню коронавірусу COVID-19.
  img.d-block.mb-1.mx-auto.w-75(
    src="../../static/img/covid-2.jpg",
    alt="covid-2"
  )
  img.d-block.mb-1.mx-auto.w-75(
    src="../../static/img/covid-3.jpg",
    alt="covid-3"
  )
  img.d-block.mb-1.mx-auto.w-75(
    src="../../static/img/covid-4.jpg",
    alt="covid-4"
  )




block footer
  +footer('ua')