mixin index_text(lang)

  if (lang === 'en')
    img.d-block.mb-1.mx-auto.w-100(
      src="../static/img/article_coal.jpg",
      alt="Coal"
    )
    p Perechin Timber and Chemical Plant is among the top leaders of Ukrainian eco-friendly manufacturers and European demand.
    p Perfect reputation, more than a hundred years of work experience, diverse production and most importantly eco-friendliness - all of these aspects are what we are famous for.
    p Europe has already assessed the quality of the charcoal products, in addition to the ability of Ukrainian businessmen to comply with European standards of production and willingness to develop, as well as embed new technologies.
    p We are proud to be a Supplier for the Europe's largest activated carbon plants Cabot Norit Nederland B.V., AdFiS products GmbH, one of the leaders in silicon production RW Silicium GmbH, metal manufacturers Wieland-Werke AG, Montanwerke Brixlegg AG and for many others.
    img.d-block.mb-1.mx-auto.w-100(
      src="../static/img/Map_small.jpg",
      alt="Map"
    )
    p Products made by the Perechin Plant are being sold from the shelves of some of the most famous European retailers: LIDL, Kaufland, Carrefour, EDEKA, TESCO. Any Ukrainian industrial enterprise would love to hold the certificates as our plant has: BSCI, PEFC™, ISO.
    h5 ADVANTAGES OF THE PLANT'S INDUSTRIAL PRODUCTION
    p The production process in the two vertical retorts is fully controlled and automated:
    ul
      li.check All organic matter resulting from pyrolysis does not enter the atmosphere but is burned in the boiler, thereby generating steam that is subsequently used as an energy source for the production of briquettes, ethyl acetate and other internal needs of the plant.
      li.check Raw material is of legal origin: it is obtained through official purchases of waste from state forestry.
      li.check Volatile, ash content, moisture content is constantly monitored, and most importantly the process allows the non-volatile carbon content to reach 93%.
    p The Plant operates in accordance with the standards of ISO 9001:2015, which ensures perfect management of the quality system. The BSCI certificate guarantees compliance with the highest social conditions. However, we are most proud to be the first plant in Ukraine to receive the PEFC™ certificate (European recognition for sustainable forest management).
    p In Ukraine, the products of the Plant are sold under TM Grilly, which is confidently occupying the premium segment and is the choice of consumers focused on eco-friendly products. Its use is a sign of a conscious attitude towards yourself, your environment and people around you. Quality charcoal is not a matter of price; it is a matter of health and safety.
    h5 DIRECTIONS OF DEVELOPMENT AND PROSPECTS OF MODERN PRODUCTION
    p The Plant sets high goals and objectives for 2020. As a part of the future plan we are considering products of deep wood processing (activated carbon production), pyrolysis fluids and firelighters, as well as cooperation with metal manufacturers.
    p An emission of CO2 into the atmosphere, during the metalworking process with usage of coke, provokes deepening of the environmental catastrophe. This is the very reason why the UN has declared a high level of emergency in the world. Consequently, well-known metal producers, most of them world leaders, are asking to supply charcoal as a substitute for coke.

    p The use of charcoal produced in accordance with environmental standards ensures that health and the environment will not be affected, but will be protected throughout the world.
    p Therefore, the Plant actively promotes its working methods and daily provides large volumes of supplies of raw materials for domestic needs and for industry of both Ukraine and Europe.
    h5 PERFECT REPUTATION AND GREAT EXPERIENCE
    p Perechin Timber and Chemical Plant occupies a strong position among the leaders of the European environmentally friendly production of charcoal. By the end of 2019, the volume of monthly production reached 4,000 tons of charcoal. 100% hardwood from Ukrainian forests is used as raw material.
    p More than a century of experience in industrial production of charcoal and briquettes, the absence of dangerous emissions into the atmosphere and waste water, an autonomous energy source, constant product quality control and social responsibility-these are the advantages that make it possible to open new markets not only in Ukraine, but also among conscientious entrepreneurs and consumers in Europe.
  else if (lang === 'ua')
    img.d-block.mb-1.mx-auto.w-100(
      src="../static/img/article_coal.jpg",
      alt="Coal"
    )
    p ТДВ “Перечинський лісохімічний комбінат” – найбільший український та провідний європейський виробник деревно – вугільної продукції з понад сторічною історією виробництва.
    p Екологічність, бездоганна репутація, інновації та постійне вдосконалення – основний принцип роботи та місія ПЛХК.
    p В Європі вже оцінили якість деревно-вугільної продукції, вміння українських бізнесменів підтримувати європейські стандарти виробництва і готовність розвиватися, впроваджуючи нові технології.
    p Клієнтами комбінату є найбільші у Європі заводи з виробництва активованого вугілля Cabot Norit Nederland B.V., AdFiS products GmbH, світові лідери з виробництва кремнію RW Silicium GmbH, виробники металу Wieland-Werke AG, Montanwerke Brixlegg AG.
    img.d-block.mb-1.mx-auto.w-100(
      src="../static/img/Map_small.jpg",
      alt="Map"
    )
    p Продукція Перечинського ЛХК - постійний товар на полицях відомих європейських рітейлерів: LIDL, Kaufland, Carrefour, EDEKA, TESCO. А сертифікації комбінату може позаздрити будь-яке промислове підприємство України: комбінат працює за стандартами BSCI, PEFC™, ISO.
    h5 ПЕРЕВАГИ ПРОМИСЛОВОГО ВИРОБНИЦТВА КОМБІНАТУ
    p Виробництво у двох вертикальних ретортах є повністю автоматизованим та контрольованим:
    ul
      li.check Всі органічні речовини, що утворюються в результаті піролізу, не потрапляють в атмосферу, а згорають у котлі утилізаторі, тим самим генеруючи пар, який в подальшому використовується, як джерело енергії для виробництва брикетів, етилацетату та інших внутрішніх потреб комбінату.
      li.check Сировина має легальне походження: вона отримана через офіційні закупівлі відходів у державних лісгоспів.
      li.check Вміст летких, золи, вологість постійно контролюється, а головне процес дає змогу досягати вмісту нелеткого вуглецю до 93%.
    p Перечинський лісохімкомбінат працює за стандартами ISO 9001:2015, це забезпечує бездоганний менеджмент системи якості. BSCI гарантує дотримання найвищих соціальних умов. А головне, підприємство пишається, що найпершим в Україні отримало сертифікат PEFC™ - європейське визнання сталого менеджменту лісу.
    p В Україні продукція заводу продається під ТМ Grilly, яка впевнено займає преміум сегмент та є вибором споживачів, що орієнтовані на eco-friendly продукти. Її використання – знак свідомого відношення до себе, до свого оточення і до навколишнього середовища. Адже якісне вугілля - це не питання ціни, це питання здоров'я та власної безпеки.
    h5 НАПРЯМКИ РОЗВИТКУ ТА ПЕРСПЕКТИВИ СУЧАСНОГО ВИРОБНИЦТВА
    p У 2020 році лісохімкомбінат ставить перед собою високі цілі. У перспективі - продукти глибокої переробки деревини (виробництво активованого вугілля) ,напрямки піролізної рідини та розпалювачів, співпраця з виробниками металу.
    p Кількість викидів СО2 в атмосферу під час металообробки з використанням коксу провокує поглиблення екологічної катастрофи: недарма ООН оголосила надзвичайний рівень небезпеки в світі саме з цього приводу. Тож свідомі виробники металу, а серед них переважно світові лідери, звертаються до комбінату з запитами стосовно поставок деревного вугілля в якості замінника коксу.
    p Використання вугілля, виробленого екологічним способом, забезпечує збереження здоров’я та екології в глобальному масштабі.
    p Тому комбінат активно пропагандує свої методи роботи і щоденно забезпечує великі обсяги поставок сировини для побутових потреб і для промисловості як України, так і Європи.
    h5 ДОСВІД ТА БЕЗДОГАННА РЕПУТАЦІЯ
    p ТДВ “Перечинський лісохімічний комбінат” впевнено посідає місце серед лідерів європейського екологічного виробництва деревного вугілля. На кінець 2019 року обсяги щомісячного виробництва складали до 4000 тон деревного вугілля. Сировиною виступають 100% тверді породи деревини українського лісу.
    p Досвід роботи більше ніж 100 років у промисловому виробництві деревного вугілля і брикетів, відсутність шкідливих викидів в атмосферу та в стічні води, диверсифікація енергоресурсів, ретельний контроль якості продукції на всіх етапах виробництва, прозорість ланцюга поставок сировини та соціальна відповідальність - всі ці переваги відкривають нові перспективи для розвитку комбінату в сучасних умовах, та надають впевненості у майбутньому.
  else if (lang === 'ru')
    p ТДВ “Перечинский лесохимический комбинат” – самый большой украинский и ведущий европейский производитель древесно-угольной продукции с более чем столетней историей производства.
    p Экологичность, безупречная репутация, инновации и постоянное совершенствование – основной принцип работы и миссия ПЛХК.
    p В Европе уже оценили качество древесно-угольной продукции, умение украинских бизнесменов поддерживать европейские стандарты производства и готовность развиваться, внедряя новые технологии.
    p Клиентами комбината являются крупнейшие в Европе заводы по производству активированного угля Cabot Norit Nederland B.V., AdFiS products GmbH, мировые лидеры по производству кремния RW Silicium GmbH, производители металла Wieland-Werke AG, Montanwerke Brixlegg AG.
    img.d-block.mb-1.mx-auto.w-100(
      src="../static/img/Map_small.jpg",
      alt="Map"
    )
    p Продукция Перечинского ЛХК – постоянный товар на полках известных европейских ритейлеров: LIDL, Kaufland, Carrefour, EDEKA, TESCO. А сертификации комбината может позавидовать любое промышленное предприятие Украины: комбинат работает по стандартам BSCI, PEFC™, ISO.
    h5 ПРЕИМУЩЕСТВА ПРОМЫШЛЕННОГО ПРОИЗВОДСТВА КОМБИНАТА
    p Производство в двух вертикальных ретортах полностью автоматизировано и контролируемо:
    ul
      li.check Все органические вещества, образующиеся в результате пиролиза, не попадают в атмосферу, а сгорают в котле утилизаторе, тем самым генерируя пар, который в дальнейшем используется как источник энергии для производства брикетов, этилацетата и других внутренних потребностей комбината.
      li.check Сырье имеет легальное происхождение: оно получено через официальные закупки отходов у государственных лесхозов.
      li.check Содержание летучих, золы, влажность постоянно контролируется, а главное, процесс позволяет достигать содержания нелетучего углерода до 93%.
    p Перечинский лесохимкомбинат работает по стандартам ISO 9001: 2015, что обеспечивает безупречный менеджмент системы качества. BSCI гарантирует соблюдение высоких социальных условий. А главное, предприятие гордится, что первым в Украине получил сертификат PEFC™ – европейское признание устойчивого менеджмента леса.
    p В Украине продукция завода продается под ТМ Grilly, уверенно занимает премиум сегмент и является выбором потребителей, ориентированных на eco-friendly продукты. Ее использование – знак сознательного отношения к себе, своим близким и окружающей среде. Ведь качественный уголь – это не вопрос цены, это вопрос здоровья и собственной безопасности.
    h5 НАПРАВЛЕНИЯ РАЗВИТИЯ И ПЕРСПЕКТИВЫ СОВРЕМЕННОГО ПРОИЗВОДСТВА
    p В 2020 году лесохимкомбинат ставит перед собой высокие цели. В перспективе – продукты глубокой переработки древесины (производство активированного угля), направления пиролизной жидкости и поджигателей, сотрудничество с производителями металла.
    p Количество выбросов СО2 в атмосферу во время металлообработки с использованием кокса провоцирует углубление экологической катастрофы: недаром ООН объявила чрезвычайный уровень опасности в мире именно по этому поводу. Поэтому сознательные производители металла, а среди них преимущественно мировые лидеры, обращаются к комбинату с запросами относительно поставок древесного угля в качестве заменителя кокса.
    img.d-block.mb-1.mx-auto.w-100(
      src="../static/img/article_coal.jpg",
      alt="Coal"
    )
    p Использование угля, производимого экологическим способом, обеспечивает сохранение здоровья и экологии в глобальном масштабе.
    p Поэтому комбинат активно пропагандирует свои методы работы и ежедневно обеспечивает большие объемы поставок сырья для бытовых нужд и для промышленности как Украины, так и Европы.
    h5 ОПЫТ И БЕЗУПРЕЧНАЯ РЕПУТАЦИЯ
    p ТДВ "Перечинский лесохимический комбинат" уверенно занимает место среди лидеров европейского экологического производства древесного угля. На конец 2019 г. объемы ежемесячного производства составляли до 4000 тонн древесного угля. Сырьем выступают 100% твердые породы древесины украинского леса.
    p Опыт работы более 100 лет в промышленном производстве древесного угля и брикетов, отсутствие вредных выбросов в атмосферу и в сточные воды, диверсификация энергоресурсов, тщательный контроль качества продукции на всех этапах производства, прозрачность цепочки поставок сырья и социальная ответственность – все эти преимущества открывают новые перспективы для развития комбината в современных условиях, и придают уверенности в будущем.
  else if (lang === 'de')
    p  „Holz- und Chemiekombinat Perechyn“ GmzH ist der größte ukrainische und führende europäische Hersteller von Holz- und Kohleprodukten mit einer über hundertjährigen Herstellungsgeschichte.
    p Umweltfreundlichkeit, einwandfreier Ruf, Innovation und kontinuierliche Verbesserung der Produktion - das sind die Grundprinzipien der Arbeit und Mission des Unternehmens.
    p Europa hat bereits die Qualität von Holz- und Kohleprodukten, die Fähigkeit ukrainischer Geschäftsleute, europäische Produktionsstandards aufrechtzuerhalten, und die Bereitschaft zur Entwicklung durch den Einsatz neuer Technologien bewertet.
    p Zu den Kunden des Unternehmens zählen Europas größte Aktivkohlewerke Cabot Norit Nederland B.V., AdFiS products GmbH, weltweit führender Siliziumproduzent RW Silicium GmbH, Metallhersteller Wieland-Werke AG, Montanwerke Brixlegg AG.
    img.d-block.mb-1.mx-auto.w-100(
      src="../static/img/Map_small.jpg",
      alt="Map"
    )
    p Die Produkte von „Holz- und Chemiekombinat Perechyn“ sind ein ständiges Produkt auf den Regalen berühmter europäischer Einzelhändler: LIDL, Kaufland, Carrefour, EDEKA, TESCO. Jedes Industrieunternehmen der Ukraine kann um die Zertifizierung der Produkte des Unternehmens beneiden: Unternehmen arbeitet nach den folgenden Standards: BSCI, PEFC™, ISO.
    h5 VORTEILE DER INDUSTRIELLEN HERSTELLUNG DES KOMBINATS
    p Die Produktion in zwei vertikalen Retorten erfolgt vollautomatisch und kontrolliert:
    ul
      li.check Die sämtlichen organischen Stoffe, die bei der Pyrolyse entstehen, gelangen nicht in die Atmosphäre, sondern werden im Kessel verbrannt, wodurch Dampf erzeugt wird, der anschließend als Energiequelle für die Herstellung von Briketts, Ethylacetat und die anderen betriebsinternen Zwecke des Kombinats verwendet werden.
      li.check Der Rohstoff ist legalen Ursprungs: dieser erhält das Kombinat durch offizielle Einkäufe von Abfällen aus der staatlichen Forstwirtschaften.
      li.check Der Gehalt an flüchtigen Stoffen, Asche und Feuchtigkeit werden ständig kontrolliert, und der Prozess ermöglicht, den Gehalt an nichtflüchtigem Kohlenstoff auf bis zu 93% zu bringen.
    p Das Holz- und Chemiekombinat arbeitet nach den Standards ISO 9001: 2015, dies gewährleistet ein perfektes Management des Qualitätssystems. BSCI garantiert die Einhaltung der höchsten sozialen Bedingungen. Das Unternehmen ist stolz vor allem darauf, als erstes Unternehmen in der Ukraine das PEFC™-Zertifikat erhalten zu haben – die europäische Anerkennung für nachhaltige Waldbewirtschaftung.
    p In der Ukraine werden die Produkte des Unternehmens unter TM Grilly verkauft, der das Premium-Segment sicher besetzt und eine auf umweltfreundliche Produkte ausgerichtete Verbraucherentscheidung darstellt. Die Verwendung dieser Produkte ist ein Zeichen für ein bewusstes Verhalten gegenüber sich selbst, Ihrer Umgebung und der Umwelt. Da die Qualitätskohle ist keine Frage des Preises, sondern der Gesundheit und eigener Sicherheit.
    h5 ENTWICKLUNGSRICHTUNGEN UND PERSPEKTIVEN DER MODERNEN PRODUKTION
    p Im Jahr 2020 setzt sich das Unternehmen hohe Ziele. Langfristig sind das Produkte der Tiefholzverarbeitung (Herstellung von aktivierten Kohle), Richtungen von Pyrolyseflüssigkeit und Zündern, Zusammenarbeit mit Metallproduzenten.
    p Die Emissionen von CO2 in die Atmosphäre während der Metallbearbeitung mit Koks führen zu einer Vertiefung der Umweltkatastrophe: kein Wunder, dass die Vereinten Nationen aus diesem Grund ein extremes Gefahrenniveau in der Welt angegeben haben. Infolgedessen wenden sich bewusste Metallproduzenten, die meisten von ihnen Weltführer sind, an das Kombinat mit den Anfragen bezüglich der Lieferungen von Holzkohle als Ersatz für Koks.
    img.d-block.mb-1.mx-auto.w-100(
      src="../static/img/article_coal.jpg",
      alt="Coal"
    )
    p Die Verwendung umweltfreundlicher Kohle stellt sicher, dass Gesundheit und Ökologie weltweit erhalten bleiben.
    p Daher popularisiert das Unternehmen aktiv seine Arbeitsmethoden und liefert täglich große Mengen an Rohstofflieferungen für den Haushaltsbedarf und für die Industrie sowohl in der Ukraine, als auch in Europa.
    h5 ERFAHRUNG UND MAKELLOSER RUF
    p „Holz- und Chemiekombinat Perechyn“ GmzH nimmt den führenden Platz unter den europäischen Führer der umweltfreundlichen Kohleproduktion. Ende 2019 betrugen die monatlichen Produktionsmengen bis zu 4000 Tonnen Holzkohle. Als Rohstoff dient 100%-ges Hartholz aus den ukrainischen Wäldern.
    p Mehr als 100-jährige Erfahrung in der industriellen Produktion von Holzkohle und Briketts, keine schädlichen Emissionen in die Atmosphäre und in das Abwasser, Diversifizierung der Energieressourcen, sorgfältige Kontrolle der Produktqualität in allen Etappen der Produktion, Transparenz der Lieferkette für Rohstoffe und soziale Verantwortung - all diese Vorteile eröffnen neue Perspektiven für die Entwicklung des Kombinats unter modernen Bedingungen und geben Vertrauen in die Zukunft des Kombinats.
  else if (lang === 'fr')
    p L’usine de bois et de produits chimiques de Perechyn est le plus grand producteur ukrainien du charbon de bois et un des leaders européens avec plus de cent ans d'histoire de production.
    p Respect de l'environnement, réputation irréprochable, innovation et amélioration continue sont les principes et la mission principaux de la société.
    p En Europe, on a déjà évalué la qualité des produits du charbon de bois, la capacité des entrepreneurs ukrainiens de soutenir les normes de production européennes et leur volonté d'évoluer en appliquant de nouvelles technologies.
    p Les clients de l'usine comprennent les plus grands producteurs européens de charbon activé Cabot Norit Nederland BV, AdFiS Products GmbH , le leader mondial de la production de silicium RW Silicium GmbH, les fabricants de métaux Wieland-Werke AG, Montanwerke Brixlegg AG.
    img.d-block.mb-1.mx-auto.w-100(
      src="../static/img/Map_small.jpg",
      alt="Map"
    )
    p Les produits de l’usine de bois et de produits chimiques de Perechyn sont toujours présents sur les étalages des célèbres détaillants européens: LIDL, Kaufland , Carrefour , EDEKA, TESCO. Toute entreprise industrielle d'Ukraine peut envier l’homologation de l'usine qui fonctionne selon les normes BSCI, PEFC™, ISO.
    h5 AVANTAGES DE LA PRODUCTION INDUSTRIELLE DE L’USINE
    p La production en deux cornues verticales est entièrement automatisée et contrôlée:
    ul
      li.check Toute la matière organique résultant de la pyrolyse n'entre pas dans l'atmosphère mais est brûlée dans la chaudière en générant ainsi de la vapeur qui est ensuite utilisée comme source d'énergie pour la production de briquettes, d'acétate d'éthyle et d'autres besoins internes de l'usine.
      li.check La matière première est d'origine légale: elle est obtenue par des achats officiels de déchets des exploitations forestières publiques.
      li.check La teneur en matières volatiles, cendres, humidité est constamment surveillée et, surtout, le processus permet d'atteindre la teneur en carbone non volatil jusqu'à 93%.
    p L’usine fonctionne selon les normes ISO 9001:2015, ce qui est assure par une parfaite gestion du système qualité. BSCI garantit les conditions sociales les plus élevées. Et surtout, la société est fière d'être la première en Ukraine à recevoir le certificat PEFC™, une reconnaissance européenne pour la gestion durable des forêts.
    p En Ukraine, les produits de l'usine sont vendus sous TM Grilly, qui occupe en toute confiance le segment haut de gamme et est un choix convivial pour les produits respectueux de l'environnement. Son utilisation est le signe d'une attitude consciente envers vous-même, votre milieu et l'environnement. Le charbon de qualité n'est pas une question à propos du prix, c'est plutôt la question de santé et de sécurité personnelle.
    h5 ORIENTATIONS DE DÉVELOPPEMENT ET PERSPECTIVES DE PRODUCTION MODERNE
    p En 2020, la société se fixe des objectifs élevés. Dans l’avenir proche il s’agira des produits de transformation profonde du bois (production de charbon actif), des fluides de pyrolyse et allumettes, une coopération avec les producteurs de métaux.
    p La quantité de CO2 émise dans l'atmosphère lors de l'usinage des métaux à l'aide de coke provoque une catastrophe écologique croissante: il n’est pas étonnant que l'ONU ait déclaré un niveau de danger extrême dans le monde pour cette raison même. Par conséquent, des producteurs de métaux bien connus, pour la plupart des leaders mondiaux, nous demandent de charbon de bois comme substitut du coke.
    img.d-block.mb-1.mx-auto.w-100(
      src="../static/img/article_coal.jpg",
      alt="Coal"
    )
    p L'utilisation de charbon produit d'une manière respectueuse de l'environnement garantit la conservation de la santé et de l'environnement à l'échelle mondiale.
    p C’est pour cette raison que l'usine promeut activement ses méthodes de travail et fournit de grands volumes de matières premières pour les besoins quotidiens et pour l'industrie en Ukraine et en Europe.
    h5 EXPÉRIENCE ET RÉPUTATION IRRÉPROCHABLE
    p L’usine de bois et de produits chimiques de Perechyn occupe une position de leader dans la production européenne respectueuse de l’environnement de charbon de bois. À la fin de 2019, la production mensuelle atteint 4000 tonnes de charbon de bois. La matière brute est 100% bois massif ukrainien.
    p Plus de 100 ans d'expérience dans la production industrielle de charbon de bois et de briquettes, absence d'émissions nocives dans l'atmosphère et les eaux usées, diversification des ressources énergétiques, contrôle minutieux de la qualité des produits à toutes les étapes de la production, transparence de la chaîne d'approvisionnement des matières premières et responsabilité sociale: tous ces avantages nous ouvrent de nouvelles perspectives pour le développement dans le context actuel et nous redonnent confiance dans l'avenir.