mixin index_text(lang)

  if (lang === 'en')
    p Perechin Timber and Chemical Plant is among the top leaders of Ukrainian eco-friendly manufacturers and European demand.
    p Perfect reputation, more than a hundred years of work experience, diverse production and most importantly eco-friendliness - all of these aspects are what we are famous for.
    p Europe has already assessed the quality of the charcoal products, in addition to the ability of Ukrainian businessmen to comply with European standards of production and willingness to develop, as well as embed new technologies.
    p We are proud to be a Supplier for the Europe's largest activated carbon plants Cabot Norit Nederland B.V., AdFiS products GmbH, one of the leaders in silicon production RW Silicium GmbH, metal manufacturers Wieland-Werke AG, Montanwerke Brixlegg AG and for many others.
    img.d-block.mb-1.mx-auto.w-100(
      src="../static/img/Map_small.jpg",
      alt="Map"
    )
    p Products made by the Perechin Plant are being sold from the shelves of some of the most famous European retailers: LIDL, Kaufland, Carrefour, EDEKA, TESCO. Any Ukrainian industrial enterprise would love to hold the certificates as our plant has: BSCI, PEFC, ISO.
    h5 ADVANTAGES OF THE PLANT'S INDUSTRIAL PRODUCTION
    p The production process in the two vertical retorts is fully controlled and automated:
    ul
      li All organic matter resulting from pyrolysis does not enter the atmosphere but is burned in the boiler, thereby generating steam that is subsequently used as an energy source for the production of briquettes, ethyl acetate and other internal needs of the plant.
      li Raw material is of legal origin: it is obtained through official purchases of waste from state forestry.
      li Volatile, ash content, moisture content is constantly monitored, and most importantly the process allows the non-volatile carbon content to reach 93%.
    p The Plant operates in accordance with the standards of ISO 9001:2015, which ensures perfect management of the quality system. The BSCI certificate guarantees compliance with the highest social conditions. However, we are most proud to be the first plant in Ukraine to receive the PEFC certificate (European recognition for sustainable forest management).
    p In Ukraine, the products of the Plant are sold under TM Grilly, which is confidently occupying the premium segment and is the choice of consumers focused on eco-friendly products. Its use is a sign of a conscious attitude towards yourself, your environment and people around you. Quality charcoal is not a matter of price; it is a matter of health and safety.
    h5 DIRECTIONS OF DEVELOPMENT AND PROSPECTS OF MODERN PRODUCTION
    p The Plant sets high goals and objectives for 2020. As a part of the future plan we are considering products of deep wood processing (activated carbon production), pyrolysis fluids and firelighters, as well as cooperation with metal manufacturers.
    p An emission of CO2 into the atmosphere, during the metalworking process with usage of coke, provokes deepening of the environmental catastrophe. This is the very reason why the UN has declared a high level of emergency in the world. Consequently, well-known metal producers, most of them world leaders, are asking to supply charcoal as a substitute for coke.
    img.d-block.mb-1.mx-auto.w-100(
      src="../static/img/article_coal.jpg",
      alt="Coal"
    )
    p The use of charcoal produced in accordance with environmental standards ensures that health and the environment will not be affected, but will be protected throughout the world.
    p Therefore, the Plant actively promotes its working methods and daily provides large volumes of supplies of raw materials for domestic needs and for industry of both Ukraine and Europe.
    h5 PERFECT REPUTATION AND GREAT EXPERIENCE
    p Perechin Timber and Chemical Plant occupies a strong position among the leaders of the European environmentally friendly production of charcoal. By the end of 2019, the volume of monthly production reached 4,000 tons of charcoal. 100% hardwood from Ukrainian forests is used as raw material.
    p More than a century of experience in industrial production of charcoal and briquettes, the absence of dangerous emissions into the atmosphere and waste water, an autonomous energy source, constant product quality control and social responsibility-these are the advantages that make it possible to open new markets not only in Ukraine, but also among conscientious entrepreneurs and consumers in Europe.
  else if (lang === 'ua')
    p ТДВ “Перечинський лісохімічний комбінат” – найбільший український та провідний європейський виробник деревно – вугільної продукції з понад сторічною історією виробництва.
    p Екологічність, бездоганна репутація, інновації та постійне вдосконалення – основний принцип роботи та місія підприємства.
    p В Європі вже оцінили якість деревно-вугільної продукції, вміння українських бізнесменів підтримувати європейські стандарти виробництва і готовність розвиватися, впроваджуючи нові технології.
    p Клієнтами комбінату є найбільші у Європі заводи з виробництва активованого вугілля Cabot Norit Nederland B.V., AdFiS products GmbH, світові лідери з виробництва кремнію RW Silicium GmbH, виробники металу Wieland-Werke AG, Montanwerke Brixlegg AG.
    img.d-block.mb-1.mx-auto.w-100(
      src="../static/img/Map_small.jpg",
      alt="Map"
    )
    p Продукція Перечинського комбінату - постійний товар на полицях відомих європейських рітейлерів: LIDL, Kaufland, Carrefour, EDEKA, TESCO. А сертифікації комбінату може позаздрити будь-яке промислове підприємство України: комбінат працює за стандартами BSCI, PEFC, ISO.
    h5 ПЕРЕВАГИ ПРОМИСЛОВОГО ВИРОБНИЦТВА КОМБІНАТУ
    p Виробництво у двох вертикальних ретортах є повністю автоматизованим та контрольованим:
    ul
      li Всі органічні речовини, що утворюються в результаті піролізу, не потрапляють в атмосферу, а згорають у котлі утилізаторі, тим самим генеруючи пар, який в подальшому використовується, як джерело енергії для виробництва брикетів, етилацетату та інших внутрішніх потреб комбінату.
      li Сировина має легальне походження: вона отримана через офіційні закупівлі відходів у державних лісгоспів.
      li Вміст летких, золи, вологість постійно контролюється, а головне процес дає змогу досягати вмісту нелеткого вуглецю до 93%.
    p Комбінат працює за стандартами ISO 9001:2015, це забезпечує бездоганний менеджмент системи якості. BSCI гарантує дотримання найвищих соціальних умов. А головне, підприємство пишається, що найпершим в Україні отримало сертифікат PEFC - європейське визнання сталого менеджменту лісу.
    p В Україні продукція заводу продається під ТМ Grilly, яка впевнено займає преміум сегмент та є вибором споживачів, що орієнтовані на eco-friendly продукти. Її використання – знак свідомого відношення до себе, до свого оточення і до навколишнього середовища. Адже якісне вугілля - це не питання ціни, це питання здоров'я та власної безпеки.
    h5 НАПРЯМКИ РОЗВИТКУ ТА ПЕРСПЕКТИВИ СУЧАСНОГО ВИРОБНИЦТВА
    p У 2020 році підприємство ставить перед собою високі цілі. У перспективі - продукти глибокої переробки деревини (виробництво активованого вугілля) ,напрямки піролізної рідини та розпалювачів, співпраця з виробниками металу.
    p Кількість викидів СО2 в атмосферу під час металообробки з використанням коксу провокує поглиблення екологічної катастрофи: недарма ООН оголосила надзвичайний рівень небезпеки в світі саме з цього приводу. Тож свідомі виробники металу, а серед них переважно світові лідери, звертаються до комбінату з запитами стосовно поставок деревного вугілля в якості замінника коксу.
    img.d-block.mb-1.mx-auto.w-100(
      src="../static/img/article_coal.jpg",
      alt="Coal"
    )
    p Використання вугілля, виробленого екологічним способом, забезпечує збереження здоров’я та екології в глобальному масштабі.
    p Тому комбінат активно пропагандує свої методи роботи і щоденно забезпечує великі обсяги поставок сировини для побутових потреб і для промисловості як України, так і Європи.
    h5 ДОСВІД ТА БЕЗДОГАННА РЕПУТАЦІЯ
    p ТДВ “Перечинський лісохімічний комбінат” впевнено посідає місце серед лідерів європейського екологічного виробництва деревного вугілля. На кінець 2019 року обсяги щомісячного виробництва складають до 4000 тон деревного вугілля. Сировиною виступають 100% тверді породи деревини українського лісу.
    p Досвід роботи більше ніж 100 років у промисловому виробництві деревного вугілля і брикетів, відсутність шкідливих викидів в атмосферу та в стічні води, диверсифікація енергоресурсів, ретельний контроль якості продукції на всіх етапах виробництва, прозорість ланцюга поставок сировини та соціальна відповідальність - всі ці переваги відкривають нові перспективи для розвитку комбінату в сучасних умовах, та надають впевненості у майбутньому.


