mixin content(lang)
  -
    let texts = {
      en: {
        back_to: 'Back to "Charcoal for grilling"',
        title: 'CHARCOAL BRIQUETTES',
        paragraphs: [
          'Made of 100% beech.',
          'From sustainable well managed forestry.',
          'Fast and easy to ignite.',
          'Provides longer burning and glow phase.',
          'Ready for grilling in 20 minutes.',
          'Origin: Europe.',
        ],
        table_title: 'TECHNICAL SPECIFICATION',
        table_rows: [
          [
            'Humidity, %',
            'Max 8'
          ],
          [
            'Ash content, %',
            '2-8'
          ],
          [
            'Fix carbon content, %',
            '60-80'
          ],
          [
            'Fraction:',
            '<20 mm - <10%'
          ],
          [
            'Certificates:',
            'Din Plus, EN 1860-2'
          ],
        ],
        images_title: 'Images of Charcoal Briquettes'
      },
      de: {
        back_to: 'Zurück zu "Grillholzkohleproduktion"',
        title: 'GRILLHOLZKOHLEBRIKETTS',
        paragraphs: [
        'Hergestellt aus 100% Buchenholz.',
        'Aus einer gut bewirtschafteten, nachhaltigen Forstwirtschaft mit einem ' +
        'ständig nachwachsenden Bestand. Schnell und leicht entflammbar.',
        'Gewährleistet langes Brennen und eine langanhaltende Phase starker Glut.',
        'Innerhalb von 20 Minuten bereit zum Grillen.',
        'Ursprungsland: Europa',
        ],
        table_title: 'ТЕCHNISCHE SPEZIFIKATION',
        table_rows: [
        [
        'Feuchtigkeit, %',
        'Max 8'
        ],
        [
        'Aschengehalt, %',
        '2-8'
        ],
        [
        'Cfix, %',
        '60-80'
        ],
        [
        'Fraktion:',
        '<20 mm - <10%'
        ],
        [
        'Zertifikate:',
        'Din Plus, EN 1860-2'
        ],
        ],
        images_title: ''
      },
      fr: {
        back_to: 'De retour à "Charbon de bois pour la grille"',
        title: 'BRIQUETTES DE CHARBON DE BOIS',
        paragraphs: [
        'Produit du hêtre de 100%.',
        'Qui provient de la sylviculture bien gérée. Le charbon de bois s`allume vite et facilement.',
        'Assure le brûlage long et la phase de la chaleur forte.',
        'Prêt pour le grillage pendant 20 minutes.',
        'Provient de l`Europe.'
        ],
        table_title: 'CARACTÉRISTIQUES TECHNIQUES',
        table_rows: [
        [
        'L`humidité, %',
        'Max 8'
        ],
        [
        'La teneur en cendres, %',
        '2-8'
        ],
        [
        'Le contenu stable du carbone, %',
        '60-80'
        ],
        [
        'Fraction:',
        '<20 mm - <10%'
        ],
        [
        'Certificats:',
        'Din Plus, EN 1860-2'
        ],
        ],
        images_title: 'Images des briquettes de charbon de bois'
        },
      ua: {
        back_to: 'Повернутися до "Продукція для грилювання"',
        title: 'ДЕРЕВНОВУГІЛЬНІ БРИКЕТИ',
        paragraphs: [
        'Виготовлено з 100% твердих порід дерева.',
        'Від надійного господарства з високим рівнем організації.',
        'Швидко і легко спалахує.',
        'Забезпечує тривале горіння та довгу фазу згорання.',
        'Готове до грилювання вже через 20 хвилин.',
        ],
        table_title: 'ТЕХНІЧНІ ХАРАКТЕРИСТИКИ',
        table_rows: [
        [
        'Вологість, %',
        'макс. 8'
        ],
        [
        'Вміст золи, %',
        '2-8'
        ],
        [
        'Вміст вуглецю С Fix, %',
        '60-80'
        ],
        [
        'Фракція:',
        '<20 мм - <10%'
        ],
        [
        'Сертифікати:',
        'Din Plus, EN 1860-2'
        ],
        ],
        images_title: ''
        },
      ru: {
        back_to: 'Вернуться на страницу "Продукция для гриллинга"',
        title: 'УГОЛЬНЫЕ БРИКЕТЫ',
        paragraphs: [
        'Изготовлено из 100% твердых пород дерева.',
        'От надежного хозяйства с высоким уровнем организации.',
        'Быстро и легко разгорается.',
        'Обеспечивает длительное горение и долгую фазу сгорания.',
        'Готово для барбекю уже через 20 минут.',
        ],
        table_title: 'ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ',
        table_rows: [
        [
        'Влажность, %',
        'макс. 8'
        ],
        [
        'Зольность, %',
        '2-8'
        ],
        [
        'Содержание углерода С Fix, %',
        '60-80'
        ],
        [
        'Фракция:',
        '<20 мм - <10%'
        ],
        [
        'Сертификаты:',
        'Din Plus, EN 1860-2'
        ],
        ],
        images_title: ''
      }
    };
    
  a.text-warning(href="../" + lang + "/charcoal-for-grilling.html") #{texts[lang].back_to}
  h2 #{texts[lang].title}
  .row.mt-4
    .col-sm-6
      .d-flex.align-content-center
        img.mx-auto(src="../static/img/Briquettes_2.jpg", alt="")
    .col-sm-6
      each p in texts[lang].paragraphs
        div #{p}
      br
      img.mb-4.mt-1(src="../static/img/Briquettes_icons_new.jpg", alt="")
  h5.text-left #{texts[lang].table_title}
  table.table.table-striped
    tbody
      each row in texts[lang].table_rows
        tr
          each td in row
            td #{td}
  //h6 #{texts[lang].images_title}
  .row
    .col-sm-4
      img.w-100.mr-2.mb-2(
        src="../static/img/Briquettes_pic_1.jpg",
        alt="briquettes 1"
      )
    .col-sm-4
      img.w-100(src="../static/img/Briquettes_pic_2.jpg", alt="briquettes 2")