mixin content(lang)
  -
    let texts = {
      en: {
        title: 'Solutions for gluing',
        who_we_are: 'Who we are',
        range_of_products: 'Range of products',
        our_benefits: 'Our benefits',
        industry: 'Industry',
        products: 'Products',
        customers: 'Our customers'
      },
      ua: {
        title: 'Рішення для склеювання',
        who_we_are: 'Про нас',
        range_of_products: 'Асортимент продукції',
        our_benefits: 'Наші переваги',
        industry: 'Сфери застосування нашої продукції',
        products: 'Продукти',
        customers: 'Клієнти'
      }
    };

  h2.mt-2 #{texts[lang].title}
  .row
    .col-sm-4
      ul
        p.css_p
          a.css_link(href="../" + lang + "/range-of-products.html") #{texts[lang].range_of_products}
        p.css_p
          a.css_link(href="../" + lang + "/our-benefits.html") #{texts[lang].our_benefits}
        p.css_p
          a.css_link(href="../" + lang + "/industry.html") #{texts[lang].industry}
        p.css_p
          a.css_link(href="../" + lang + "/products.html") #{texts[lang].products}
        p.css_p
          a.css_link(href="../" + lang + "/glue-customers.html") #{texts[lang].customers}
    .col-sm-8
      img.w-100(
        src="../static/img/index-glue.jpg",
        alt="First slide"
      )