mixin content(lang)
  script(async='' defer='' src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2')

  if (lang === 'ua')
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/lxk-photo.jpg",
          alt="news-photo"
        )
      div.col-sm-8
        h5 Перечинський лісохімічний комбінат з думкою про майбутнє: перехід на альтернативні джерела енергії як необхідність збереження планети
        div Світ довкола нас змінюється з неймовірною швидкістю: розвиваються технології, з’являються нові наукові відкриття, виробники приходять до висновку, що екологічність виробництва, пошук альтернативних джерел енергії - це не просто “фішка”, модний тренд чи принципова позиція власника, а необхідна умова збереження планети для наступних поколінь.
        div Світова спільнота переходить на альтернативні джерела енергії: майбутнє вже настало! А що в Україні?
        div.text-right
          a.font-italic(href="./news_15_04_2020.html") Читати далі...

    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/article.png",
          alt="Article"
        )
      div.col-sm-8
        h5 Екологи спростовують забруднення стічних вод та повітря ТДВ “Перечинським лісохімічним комбінатом”
        div На численні прохання Перечинської громади, 6 грудня 2019 року в місто була запрошена незалежна лабораторія ПНВП “Екологія”. Нею було проведено відбори проб повітря для визначення концентрації забруднюючих речовин в приземному шарі атмосферного повітря у 5-ти точках м. Перечин по санітарно-захисній зоні лісохімічного комбінату.
        div.font-weight-bold Висновки однозначні – перевищення норм гранично допустимих концентрацій у жодній точці не виявлено.
        div.text-right
          a.font-italic(href="./news_20_12_2019.html") Читати далі...
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/image.png",
          alt="news-photo"
        )
      div.col-sm-8
        h5 Перечинський ЛХК підтверджує свою прихильність принципам і критеріям FSC
        div ТДВ «Перечинський лісохімічний комбінат» повідомляє всі зацікавлені сторони, в тому числі своїх партнерів про свою нетерпимість до корупції, незаконних вирубок лісу, і всіх видів незаконних дій, пов'язаних з рубками.
        div FSC запропонувало Перечинському ЛХК для відновлення сертифікації впровадити додаткові заходи контролю, та переглянути свою співпрацю з іншими суб’єктами ринку деревно-вугільної продукції.
        div.text-right
          a.font-italic(href="./news_31_07_2020.html") Читати далі...

    hr

  if (lang === 'en')
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/lxk-photo.jpg",
          alt="news-photo"
        )
      div.col-sm-8
        h5 Perechin Timber and Chemical Plant Looking to the Future: Switching to Alternative Energy Sources as a Way to Save the Planet
        div The world around us is charging at breakneck speed: technology is developing, new scientific discoveries are emerging, manufacturers are concluding that environmentally friendly production and a search of alternative energy sources are not just some “tricks”, an up-to-date tendency, or a strong stand of the owner, but a precondition for preserving the planet for future generations.
        div Global Society Already Switching to Alternative Energy Sources: Indeed, the Future Has Come! But What about Ukraine?
        div.text-right
          a.font-italic(href="./news_15_04_2020.html") More...

    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/article.png",
          alt="Article"
        )
      div.col-sm-8
        h5 Environmentalists deny wastewater and air pollution by ALC "Perechin Timber & Chemical Plant"
        div At the numerous requests of the Perechin community in December 6 th, 2019 an independent laboratory of the Private Research and Development enterprise "Ecology" was invited to the city. It carried out air sampling to determine the concentration of pollutants in the surface layer of atmospheric air at 5 points in Perechin along the sanitary protection zone of the timber and chemical plant.
        div.font-weight-bold The conclusions are firm - no exceedance of the limit values at any point has been detected.
        div.text-right
          a.font-italic(href="./news_20_12_2019.html") More...

    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/image.png",
          alt="news-photo"
        )
      div.col-sm-8
        h5 ALC “Perechin Timber and Chemical Plant” confirms its commitment to FSC principles and criteria
        div ALC “Perechin Timber and Chemical Plant” informs all stakeholders, including its partners about its intolerance to corruption, illegal deforestation, and all types of illegal actions related to logging.
        div FSC suggested that Perechin TCP should introduce additional control measures to restore certification, and to review its cooperation with other entities in the charcoal market.
        div Despite the long negotiation process, our Plant informed FSC that it is ready to sign a Memorandum of Understanding.
        div.text-right
          a.font-italic(href="./news_31_07_2020.html") More...

    hr

  if (lang === 'ru')
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/lxk-photo.jpg",
          alt="news-photo"
        )
      div.col-sm-8
        h5 Перечинский лесохимический комбинат с мыслью о будущем: переход на альтернативные источники энергии как необходимость сохранения планеты
        div Мир вокруг нас меняется с невероятной скоростью: развиваются технологии, появляются новые научные открытия, производители приходят к выводу, что экологичность производства, поиск альтернативных источников энергии - это не просто "фишка", модный тренд или принципиальная позиция владельца, а необходимое условие сохранения планеты для будущих поколений.
        div Мировое сообщество переходит на альтернативные источники энергии: будущее уже наступило! А что в Украине?
        div.text-right
          a.font-italic(href="./news_15_04_2020.html") Читать дальше...

    hr