mixin content(lang)
  script(async='' defer='' src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2')

  if (lang === 'ua')
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/news/queen.png",
          alt="queen logo"
        )
      div.col-sm-8
        h5 Команда ТОВ «Перечинський лісохімічний комбінат» бере участь у проекті QUEEN разом із 13 партнерами з 8 країн!
        div Проект QUEEN із сильним консорціумом учасників із восьми країн вирішує серйозну проблему – сильна залежність ЄС від зовнішніх джерел критичної сировини, особливо металургійного кремнію (MG-Si). Наразі понад 80% MG-Si, життєво необхідного для застосування у сфері високих технологій і амбіцій ЄС щодо сталого розвитку, імпортується переважно з Китаю.
        div.text-right
          a.font-italic(href="./news_29_10_2024.html") Читати далі...
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/news/ua_1.jpg",
          alt="goals-picture"
        )
      div.col-sm-8
        h5 Цілі сталого розвитку ТДВ «Перечинського лісохімічного комбінату»
        div Найкраще для всіх – це наша клієнтоорієнтована стратегія, завдяки якій ми зможемо забезпечити більш стабільне та стійке майбутнє. Орієнтована на інновації продуктів і процесів за допомогою інвестицій і підтримки відносин з клієнтами і партнерами.
        div.text-right
          a.font-italic(href="./news_31_10_2023.html") Читати далі...
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/ISO+_news.jpg",
          alt="news-photo"
        )
      div.col-sm-8
        div У черговий раз наше підприємство підтвердило відповідність вимогам міжнародного стандарту ISO 9001:2015 під час успішного проходження 2-го наглядового аудиту. Це є доказом того, що якість виробництва та продукції на підприємстві для нас на першому місці.
        div.mt-2 Також «Перечинський Лісохімічний Комбінат» пройшов соціальний аудит на відповідність Кодексу поведінки BSCI (Ініціатива соціальної відповідальності бізнесу) з найвищою оцінкою «А». Відповідність положенням кодексу BSCI дозволяє всім клієнтам нашого підприємства ще раз переконатися у належних умовах праці на нашому виробництві, забезпеченні соціальних інтересів співробітників, дотриманні етичних норм та дбайливому ставленню до навколишнього середовища. Ми впроваджуємо та підтримуємо ці цінності, беручи на себе зобов'язання перед командою та спільнотою регіону.
        div.text-right
          a.font-italic(href="./news_11_02_2022.html") Читати далі...
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/lxk-photo.jpg",
          alt="news-photo"
        )
      div.col-sm-8
        h5 Перечинський лісохімічний комбінат з думкою про майбутнє: перехід на альтернативні джерела енергії як необхідність збереження планети
        div Світ довкола нас змінюється з неймовірною швидкістю: розвиваються технології, з’являються нові наукові відкриття, виробники приходять до висновку, що екологічність виробництва, пошук альтернативних джерел енергії - це не просто “фішка”, модний тренд чи принципова позиція власника, а необхідна умова збереження планети для наступних поколінь.
        div Світова спільнота переходить на альтернативні джерела енергії: майбутнє вже настало! А що в Україні?
        div.text-right
          a.font-italic(href="./news_15_04_2020.html") Читати далі...
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/article.png",
          alt="Article"
        )
      div.col-sm-8
        h5 Екологи спростовують забруднення стічних вод та повітря ТДВ “Перечинським лісохімічним комбінатом”
        div На численні прохання Перечинської громади, 6 грудня 2019 року в місто була запрошена незалежна лабораторія ПНВП “Екологія”. Нею було проведено відбори проб повітря для визначення концентрації забруднюючих речовин в приземному шарі атмосферного повітря у 5-ти точках м. Перечин по санітарно-захисній зоні лісохімічного комбінату.
        div.font-weight-bold Висновки однозначні – перевищення норм гранично допустимих концентрацій у жодній точці не виявлено.
        div.text-right
          a.font-italic(href="./news_20_12_2019.html") Читати далі...
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/image.png",
          alt="news-photo"
        )
      div.col-sm-8
        h5 Перечинський ЛХК підтверджує свою прихильність принципам і критеріям FSC
        div ТДВ «Перечинський лісохімічний комбінат» повідомляє всі зацікавлені сторони, в тому числі своїх партнерів про свою нетерпимість до корупції, незаконних вирубок лісу, і всіх видів незаконних дій, пов'язаних з рубками.
        div FSC запропонувало Перечинському ЛХК для відновлення сертифікації впровадити додаткові заходи контролю, та переглянути свою співпрацю з іншими суб’єктами ринку деревно-вугільної продукції.
        div.text-right
          a.font-italic(href="./news_31_07_2020.html") Читати далі...
    hr

  if (lang === 'en')
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/news/250425-2.jpg",
          alt="report group photo"
        )
      div.col-sm-8
        h5 🌍 Exciting developments from the QUEEN Project!
        div We’re proud to share that Nataliya Korol, representative of LLC Perechin Timber and Chemical Plant, delivered a report titled: “Optimizing Binder Selection for Durable and Waterproof Charcoal Briquettes: Balancing Mechanical Strength and Water Resistance”
        div.text-right
          a.font-italic(href="./news_25_04_2025.html") More...
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/news/queen.png",
          alt="queen logo"
        )
      div.col-sm-8
        h5 The team of LLC “Perechin Timber and Chemical Plant” is taking part in the QUEEN project along with the 13 other partners from 8 countries!
        div The QUEEN project, with its strong consortium of participants from eight countries, addresses a significant challenge - EU's heavy reliance on external sources for critical raw materials, especially metallurgical silicon (MG-Si). Currently, over 80% of MG-Si, vital for high-tech applications and EU's sustainability ambitions, is imported mainly from China.
        div.text-right
          a.font-italic(href="./news_29_10_2024.html") More...
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/news/en_1.jpg",
          alt="goals-picture"
        )
      div.col-sm-8
        h5 The Sustainable Development Goals of Perechin Timber and Chemical Plant
        div What's best for everyone is our customer-centric strategy, which will enable us to secure a more stable and sustainable future. It is focused on innovation of products and processes with the help of investments and support of relations with customers and partners.
        div.text-right
          a.font-italic(href="./news_31_10_2023.html") More...
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/ISO+_news.jpg",
          alt="news-photo"
        )
      div.col-sm-8
        div Once again, our company has confirmed compliance with the requirements of ISO 9001:2015 during the successful completion of the 2nd surveillance audit. This proves that the quality of production and products at the company comes first.
        div.mt-2 Perechin Timber-Chemical Plant also passed a social audit for compliance with the BSCI (Business Social Compliance Initiative) Code of Conduct with the highest grade of "A". Compliance with the provisions of the BSCI Code of Conduct enables all our customers to be convinced once again of the good working conditions at our company, the social interests of our employees, our ethical behaviour and our respect for the environment. We implement and uphold these values by making a commitment to the team and community in the region.
        div.text-right
          a.font-italic(href="./news_31_10_2023.html") More...
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/lxk-photo.jpg",
          alt="news-photo"
        )
      div.col-sm-8
        h5 Perechin Timber and Chemical Plant Looking to the Future: Switching to Alternative Energy Sources as a Way to Save the Planet
        div The world around us is charging at breakneck speed: technology is developing, new scientific discoveries are emerging, manufacturers are concluding that environmentally friendly production and a search of alternative energy sources are not just some “tricks”, an up-to-date tendency, or a strong stand of the owner, but a precondition for preserving the planet for future generations.
        div Global Society Already Switching to Alternative Energy Sources: Indeed, the Future Has Come! But What about Ukraine?
        div.text-right
          a.font-italic(href="./news_15_04_2020.html") More...
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/article.png",
          alt="Article"
        )
      div.col-sm-8
        h5 Environmentalists deny wastewater and air pollution by ALC "Perechin Timber & Chemical Plant"
        div At the numerous requests of the Perechin community in December 6 th, 2019 an independent laboratory of the Private Research and Development enterprise "Ecology" was invited to the city. It carried out air sampling to determine the concentration of pollutants in the surface layer of atmospheric air at 5 points in Perechin along the sanitary protection zone of the timber and chemical plant.
        div.font-weight-bold The conclusions are firm - no exceedance of the limit values at any point has been detected.
        div.text-right
          a.font-italic(href="./news_20_12_2019.html") More...
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/image.png",
          alt="news-photo"
        )
      div.col-sm-8
        h5 ALC “Perechin Timber and Chemical Plant” confirms its commitment to FSC principles and criteria
        div ALC “Perechin Timber and Chemical Plant” informs all stakeholders, including its partners about its intolerance to corruption, illegal deforestation, and all types of illegal actions related to logging.
        div FSC suggested that Perechin TCP should introduce additional control measures to restore certification, and to review its cooperation with other entities in the charcoal market.
        div Despite the long negotiation process, our Plant informed FSC that it is ready to sign a Memorandum of Understanding.
        div.text-right
          a.font-italic(href="./news_31_07_2020.html") More...
    hr

  if (lang === 'ru')
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/ISO+_news.jpg",
          alt="news-photo"
        )
      div.col-sm-8
        div В очередной раз наше предприятие подтвердило соответствие требованиям международного стандарта ISO 9001:2015 во время успешного прохождения 2-го надзорного аудита. Это доказательство  того, что качество производства и продукции на предприятии для нас на первом месте.
        div.mt-2 Также «Перечинский Лесохимический Комбинат» прошел социальный аудит на соответствие Кодексу поведения BSCI (Инициатива по социальной ответственности бизнеса) с наивысшей оценкой «А». Соответствие положениям кодекса BSCI позволяет всем клиентам нашего предприятия еще раз убедиться в надлежащих условиях труда на нашем производстве, обеспечении социальных интересов сотрудников, соблюдении этических норм и бережному отношению к окружающей среде. Мы внедряем и поддерживаем эти ценности, беря на себя обязательства перед командой и сообществом региона.
        div.text-right
          a.font-italic(href="./news_11_02_2022.html") Читать дальше...
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/lxk-photo.jpg",
          alt="news-photo"
        )
      div.col-sm-8
        h5 Перечинский лесохимический комбинат с мыслью о будущем: переход на альтернативные источники энергии как необходимость сохранения планеты
        div Мир вокруг нас меняется с невероятной скоростью: развиваются технологии, появляются новые научные открытия, производители приходят к выводу, что экологичность производства, поиск альтернативных источников энергии - это не просто "фишка", модный тренд или принципиальная позиция владельца, а необходимое условие сохранения планеты для будущих поколений.
        div Мировое сообщество переходит на альтернативные источники энергии: будущее уже наступило! А что в Украине?
        div.text-right
          a.font-italic(href="./news_15_04_2020.html") Читать дальше...
    hr
  if (lang === 'de')
    hr
    div.row
      div.col-sm-4
        img.w-100(
          src="../static/img/ISO+_news.jpg",
          alt="news-photo"
        )
      div.col-sm-8
        div Erneut hat unser Unternehmen beim erfolgreichen Abschluss des 2. Überwachungsaudits die Einhaltung der Anforderungen der ISO 9001:2015 bestätigt. Dies beweist, dass die Qualität der Produktion und der Produkte im Unternehmen an erster Stelle steht.
        div.mt-2 Perechin Holz-Chemisches Werk hat auch ein Sozialaudit zur Einhaltung des BSCI-Verhaltenskodex (Business Social Compliance Initiative) mit der Höchstnote "A" bestanden. Die Einhaltung der Bestimmungen des BSCI-Verhaltenskodex ermöglicht es allen unseren Kunden, sich erneut von den guten Arbeitsbedingungen in unserem Unternehmen, den sozialen Interessen unserer Mitarbeiter, unserem ethischen Verhalten und unserem Respekt für die Umwelt zu überzeugen. Wir setzen diese Werte um und halten sie aufrecht, indem wir uns gegenüber dem Team und der Gemeinschaft in der Region verpflichten.
        div.text-right
          a.font-italic(href="./news_11_02_2022.html") Weiterlesen...
    hr