mixin content(lang)
  -
    let texts = {
      en: {
        title: 'Our certificates',
        download: 'This browser does not support PDFs Please download the PDF to view it:',
        pefc: 'PEFC certificate',
        iso_9001: 'ISO 9001 certificate',
        iso_14001: 'ISO 14001 certificate',
        norway: 'Norway certificate',
      },
      ua: {
        title: 'Наші сертифікати',
        download: 'Ваш браузер не підтримує відображення PDF файлів. Для перегляду сертифікату ISO завантажте його, будь ласка:',
        pefc: 'Сертифікат PEFC',
        iso_9001: 'Сертифікат ISO 9001',
        iso_14001: 'Сертифікат ISO 14001',
        norway: 'Сертифікат Norway',
      },
      de: {
        title: 'Unsere Zertifikate',
        download: 'This browser does not support PDFs Please download the PDF to view it:',
        pefc: 'PEFC Zertifikate',
        iso_9001: 'ISO 9001 Zertifikate',
        iso_14001: 'ISO 14001 Zertifikate',
        norway: 'Norway Zertifikate',
      },
      fr: {
        title: 'Nos certificats',
        download: 'This browser does not support PDFs Please download the PDF to view it:',
        pefc: 'PEFC certificate',
        iso_9001: 'ISO 9001 certificate',
        iso_14001: 'ISO 14001 certificate',
        norway: 'Norway certificate',
      },
      ru: {
        title: 'Наши сертификаты',
        download: 'Ваш браузер не поддерживает отображение PDF файлов. Для просмотра сертифіката PEFC загрузите его, пожалуйста:',
        pefc: 'PEFC',
        iso_9001: 'ISO 9001',
        iso_14001: 'ISO 14001',
        norway: 'Norway',
      }
    };

  h2 #{texts[lang].title}
  #accordion.accordion.mb-2
    .card
      #headingPEFC.card-header
        h2.mb-0
          button.btn.btn-link.w-100(type='button' data-toggle='collapse' data-target='#collapsePEFC' aria-expanded='false' aria-controls='collapsePEFC')
            | #{texts[lang].pefc}
      #collapsePEFC.collapse(aria-labelledby='headingPEFC' data-parent='#accordion')
        .card-body.d-flex.justify-content-center
          object(data="../static/certificates/PEFC_Perechin_timber_chemical_plant_18072024_2022-01.pdf#view=Fit" type="application/pdf" width="75%" height="1000")
            p #{texts[lang].download}
            div.mb-3
              a(href="../static/certificates/PEFC_Perechin_timber_chemical_plant_18072024_2022-01.pdf") Download PEFC cerificate

    .card
      #headingISO9001.card-header
        h2.mb-0
          button.btn.btn-link.w-100(type='button' data-toggle='collapse' data-target='#collapseISO9001' aria-expanded='false' aria-controls='collapseISO9001')
            | #{texts[lang].iso_9001}
      #collapseISO9001.collapse(aria-labelledby='headingISO9001' data-parent='#accordion')
        .card-body.d-flex.justify-content-center
          if (lang === 'ua')
            object(data="../static/certificates/CT-ISO_9001-2015_UKR_ALC_Perechin_Timber__Chemical_Plant.pdf" type="application/pdf" width="75%" height="1000")
              p #{texts[lang].download}
              div.mb-3
                a(href="../static/certificates/CT-ISO_9001-2015_UKR_ALC_Perechin_Timber__Chemical_Plant.pdf") Завантажити сертифікат ISO 9001
          if (lang === 'ru')
            object(data="../static/certificates/CT-ISO_9001-2015_RUS_ALC_Perechin_Timber__Chemical_Plant.pdf" type="application/pdf" width="75%" height="1000")
              p #{texts[lang].download}
              div.mb-3
                a(href="../static/certificates/CT-ISO_9001-2015_RUS_ALC_Perechin_Timber__Chemical_Plant.pdf") Загрузить сертификат ISO 9001
          if (lang === 'en' || lang === 'de' || lang === 'fr')
            object(data="../static/certificates/CT-ISO_9001-2015_ENG_ALC_Perechin_Timber__Chemical_Plant.pdf" type="application/pdf" width="75%" height="1000")
              p #{texts[lang].download}
              div.mb-3
                a(href="../static/certificates/CT-ISO_9001-2015_ENG_ALC_Perechin_Timber__Chemical_Plant.pdf") Download ISO Certificate 9001

    .card
      #headingISO14001.card-header
        h2.mb-0
          button.btn.btn-link.w-100(type='button' data-toggle='collapse' data-target='#collapseISO14001' aria-expanded='false' aria-controls='collapseISO14001')
            | #{texts[lang].iso_14001}
      #collapseISO14001.collapse(aria-labelledby='headingISO14001' data-parent='#accordion')
        .card-body.d-flex.justify-content-center
          if (lang === 'ua')
            object(data="../static/certificates/ISO_14001_ukr.pdf" type="application/pdf" width="75%" height="1000")
              p #{texts[lang].download}
              div.mb-3
                a(href="../static/certificates/ISO_14001_ukr.pdf") Завантажити сертифікат ISO 14001
          else
            object(data="../static/certificates/ISO_14001_eng.pdf" type="application/pdf" width="75%" height="1000")
              p #{texts[lang].download}
              div.mb-3
                a(href="../static/certificates/ISO_14001_eng.pdf") Download ISO Certificate 14001

    .card
      #headingNorway.card-header
        h2.mb-0
          button.btn.btn-link.w-100(type='button' data-toggle='collapse' data-target='#collapseNorway' aria-expanded='false' aria-controls='collapseNorway')
            | #{texts[lang].norway}
      #collapseNorway.collapse(aria-labelledby='headingNorway' data-parent='#accordion')
        .card-body.d-flex.justify-content-center
          object(data="../static/certificates/2087 0011 3.0 ALC Perechin Timber and Chemical Plant Norway_Certifikat.pdf" type="application/pdf" width="75%" height="1000")
            p #{texts[lang].download}
            div.mb-3
              a(href="../static/certificates/2087 0011 3.0 ALC Perechin Timber and Chemical Plant Norway_Certifikat.pdf") Download Norway Certificate

  .row.my-3


    .col-lg-3
      .text-center

    //.col-4
    //  a.text-center(href='../static/img/KOSHER-CERTIFICATE.jpg' target='_blank')
    //    img.w-100.border.border-dark(src='../static/img/KOSHER-CERTIFICATE.jpg' alt='KOSHER')