mixin content(lang)
  -
    let texts = {
      en: {
        ecology: 'Environmental policy',
        pefc: 'Wood control policy',
        quality: 'Quality policy'
      },
      de: {

      },
      fr: {

      },
      ua: {
        ecology: 'Екологічна політика',
        pefc: 'Політика щодо контролю деревини',
        quality: 'Політика в сфері якості'
      },
      ru: {

      }
    };

  #accordion.accordion
    .card
      #headingOne.card-header
        h2.mb-0
          button.btn.btn-link.w-100(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
            | #{texts[lang].ecology}
      #collapseOne.collapse(aria-labelledby='headingOne' data-parent='#accordion')
        .card-body
          img.d-block.w-100.mb-4(
            src="../static/img/ecology-" + lang + ".png",
            alt="Ecology"
          )
    .card
      #headingTwo.card-header
        h2.mb-0
          button.btn.btn-link.w-100(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
            | #{texts[lang].pefc}
      #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordion')
        .card-body
          img.d-block.w-100.mb-4(
            src="../static/img/pefc-" + lang + ".png",
            alt="PEFC"
          )
    .card
      #headingThree.card-header
        h2.mb-0
          button.btn.btn-link.w-100(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
            | #{texts[lang].quality}
      #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordion')
        .card-body
          img.d-block.w-100.mb-4(
            src="../static/img/quality-" + lang + ".png",
            alt="Quality"
          )
  