mixin content(lang)
  -
    let texts = {
      en: {
        charcoal: 'Charcoal',
        ethyl: 'Ethyl Acetate',
        glue: 'Solutions for gluing'
      },
      de: {
        charcoal: 'Holzkohle',
        ethyl: '',
        glue: ''
      },
      fr: {
        charcoal: 'Charbon',
        ethyl: '',
        glue: ''
      },
      ua: {
        charcoal: 'Деревне вугілля',
        ethyl: 'Етилацетат',
        glue: 'Рішення для склеювання',
      },
      ru: {
        charcoal: 'Древесный уголь',
        ethyl: '',
        glue: ''
      }
    };
    
  img.d-block.w-100.mb-4(
    src="../static/img/Baner_" + lang +"_1.jpg",
    alt="First slide"
  )
  .d-flex.justify-content-center.mb-5
    a.css_hover_zoom(href="../" + lang +"/factory.html")
      img.img-fluid(src="../static/img/index-charcoal.jpg", width="360")
      .text-center #{texts[lang].charcoal}
    if (lang === 'en' || lang === 'ua')
      a.css_hover_zoom.ml-3(href="../" + lang +"/ethyl-acetate-index.html")
        img.img-fluid(src="../static/img/index-ethyl.jpg", width="360")
        .text-center #{texts[lang].ethyl}
      a.css_hover_zoom.ml-3(href="../" + lang +"/glue.html")
        img.img-fluid(src="../static/img/index-glue.jpg", width="360")
        .text-center #{texts[lang].glue}
